.options-sidebar{
    display: block;
    list-style-type: none;
    padding: 0px;
    color: #999;
}

.options-sidebar > li{
    cursor: pointer;
    list-style-type: none;
    margin: 2px 20px;
    padding: 10px 16px;
    border-radius: 10px;
    
}


.options-sidebar > li > span{
    margin-left: 20px;
    font-weight: bold;
}
.options-sidebar > li:hover{
    background-color: #f90;
    color: #fff;
}
.options-sidebar > li:hover > svg{
    color: #fff !important;
}
.image-tool__caption{
    display: none;
}






.card{
    border-radius: 0.7rem !important;
    border: unset !important;
}



.rounded-5{
    border-radius: 0.7rem !important;
}