.options-sidebar{
    display: block;
    list-style-type: none;
    padding: 0px;
    color: #999;
}

.options-sidebar > li{
    cursor: pointer;
    list-style-type: none;
    margin: 2px 0px;
    padding: 10px 16px;
    border-radius: 10px;
    
}


.options-sidebar > li > span{
    margin-left: 20px;
    font-weight: bold;
}
.options-sidebar > li:hover, .options-sidebar-active{
    background-color: #f90;
    color: #fff;
}
.options-sidebar > li:hover > svg, .options-sidebar-active > svg{
    color: #fff !important;
}
.image-tool__caption{
    display: none;
}






.card{
    border-radius: 0.7rem !important;
    border: unset !important;
}



.rounded-5{
    border-radius: 0.7rem !important;
}

@media (max-width: 575.98px) {
    .card{
        border-radius: unset !important;
    }
}
@media (max-width: 1199.98px) {
    #sidebar{
        background-color: #fff;
        position: fixed;
        top: 0px;
        left: 0px;
        transform: translateX(-100%);
        transition: transform 0.4s ease-out;
        z-index: 1200;
        box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
        padding-left: 0px !important;
    }
    #sidebar .shadow{
        box-shadow: unset !important;
    }
    #dark{
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        background-color: #000;
        z-index: 1100;
        display: none;
        opacity: 0;
        transition:  opacity 0.4s ease-out;
    }
    .show-sidebar{
        transform: translateX(0%) !important;
    }
    .show-dark{
        display: block !important;
        opacity: 0.5 !important;
    }
}
